<div id="<%= dom_id character %>">
  <p>
    <strong>Adult:</strong>
    <%= character.adult %>
  </p>

  <p>
    <strong>External created at:</strong>
    <%= character.external_created_at %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= character.description %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Share url:</strong>
    <%= character.share_url %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= character.slug %>
  </p>

  <p>
    <strong>Stats:</strong>
    <%= character.stats %>
  </p>

  <p>
    <strong>External updated at:</strong>
    <%= character.external_updated_at %>
  </p>

  <p>
    <strong>Web enabled:</strong>
    <%= character.web_enabled %>
  </p>

</div>
